<h1>Your Blog Entries</h1>

<div id="blogdiv">
  <table>
    <thead>
      <tr>
        <th>Title</th>
        <th>&nbsp;</th>
        <th>Content</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @blogs.each do |blog| %> 
        <tr>
          <td id="td2"><strong><%= link_to blog.title, blog %></strong></td>
          <td>&nbsp;</td>
          <td><%= blog.content[0..80] %>...</td><td>&nbsp;</td>
          <td><%= blog.created_at.strftime('%m/%d/%Y %H:%M:%S') %></td>
          <td>&nbsp;</td>
          <td><%= blog.updated_at.strftime('%m/%d/%Y %H:%M:%S') %></td>
          <td>&nbsp;</td>
          <td><%= link_to 'Edit', edit_blog_path(blog) %></td>
          <td>&nbsp;</td>
          <td><%= link_to 'Delete', blog, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
        <tr></tr>
      <% end %>
    </tbody>
  </table>
    <div id="tagindex">
      <% @tags.each do |tag| %>
        <span id="tagging"><%= link_to tag.name, blogs_path(:name => tag.name)  %></span>
        &nbsp;
      <% end %>
    </div>
</div>
<br />

<%= link_to 'New Blog', new_blog_path %><br />
<%= link_to "What Are Your Friends Saying?", following_path %>