<h1>Comments Central</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>&nbsp;</th>
      <th>Content</th>
      <th>&nbsp;</th>
      <th>Blog</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @comments.each do |comment| %>
      <tr>
        <td><%= comment.name %></td>
        <td>&nbsp;</td>
        <td><%= link_to comment.content[0..50], comment %></td>
        <td>&nbsp;</td>
        <td><%= comment.blog_id %></td>
        <td><%= comment.created_at.strftime('%m/%d/%Y %H:%M:%S') %></td>
        <td>&nbsp;</td>
        <td><%= comment.updated_at.strftime('%m/%d/%Y %H:%M:%S') %></td>
        <td>&nbsp;</td>
        <td><%= link_to 'Edit', edit_comment_path(comment) %></td>
        <td>&nbsp;</td>
        <td><%= link_to 'Delete', comment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>