<h1>Listing tags</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <td>&nbsp;</td>
      <th>Blog</th>
      <td>&nbsp;</td>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @tags.each do |tag| %>
      <tr>
        <td><%= tag.name %></td>
        <td>&nbsp;</td>
        <td style="text-align:center"><%= tag.blog_id %></td>
        <td>&nbsp;</td>
        <td><%= link_to 'Show', tag %></td>
        <td>&nbsp;</td>
        <td><%= link_to 'Edit', edit_tag_path(tag) %></td>
        <td>&nbsp;</td>
        <td><%= link_to 'Delete', tag, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br />